body,
html {
      margin: 0rem;
      padding: 0rem;
      min-height: 100vh;
      max-width: 100vw;
      height: 100%;

}

nav a,
a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: rgb(135, 141, 151);
      outline: none;
      text-align: center;
      font-weight: bold;
}

a {
      font-weight: normal;
}

nav a.active {
      color: rgb(209, 207, 203);

}

a:hover {
      color: #fcc822;

}

input[type=checkbox] {
      accent-color: #fcc822;

}

@tailwind base;
@tailwind components;
@tailwind utilities;