body,
html {
      margin: 0rem;
      padding: 0rem;
      min-height: 100vh;
      max-width: 100vw;
}

nav a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: rgb(193, 195, 199);
      outline: none;
      text-align: center
}

nav a.active {
      color: rgb(140, 25, 69);
}

@tailwind base;
@tailwind components;
@tailwind utilities;