body,
html {
      margin: 0rem;
      padding: 0rem;
      min-height: 100vh;
      max-width: 100vw;
      height: 100%;

}

nav a,
a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: rgb(135, 141, 151);
      outline: none;
      text-align: center;
      font-weight: bold;
}

a {
      font-weight: normal;
}

nav a.active {
      color: rgb(209, 207, 203);

}

a:hover {
      color: #f7f30f;

}

input[type=checkbox] {
      accent-color: #f7f30f;
      ;

}

progress::-moz-progress-bar {
      background-color: #f7f30f;
      ;
}

progress::-webkit-progress-inner-element {
      background-color: #f7f30f;
}

.bg-scoreImage {
      background-image: url('./img/Celebration.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-clip: inherit;
      width:fit-content;
}

@tailwind base;
@tailwind components;
@tailwind utilities;